In [2]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [3]:
#salary_train = pd.read_csv("SalaryData_Train.csv")
salary_test = pd.read_csv("SalaryData_Test.csv")
string_columns=["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [4]:
salary_test = pd.read_csv("SalaryData_Test.csv")

In [5]:
salary_test

       age      workclass      education  ...  hoursperweek          native  Salary
0       25        Private           11th  ...            40   United-States   <=50K
1       38        Private        HS-grad  ...            50   United-States   <=50K
2       28      Local-gov     Assoc-acdm  ...            40   United-States    >50K
3       44        Private   Some-college  ...            40   United-States    >50K
4       34        Private           10th  ...            30   United-States   <=50K
...    ...            ...            ...  ...           ...             ...     ...
15055   33        Private      Bachelors  ...            40   United-States   <=50K
15056   39        Private      Bachelors  ...            36   United-States   <=50K
15057   38        Private      Bachelors  ...            50   United-States   <=50K
15058   44        Private      Bachelors  ...            40   United-States   <=50K
15059   35   Self-emp-inc      Bachelors  ...            60   United-States    >50K

[15060 rows x 14 columns]

In [6]:
string_columns=["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [7]:
from sklearn import preprocessing
number = preprocessing.LabelEncoder()
for i in string_columns:
    #salary_train[i] = number.fit_transform(salary_train[i])
    salary_test[i] = number.fit_transform(salary_test[i])

In [9]:
colnames = salary_test.columns
len(colnames[0:13])
X = salary_test[colnames[0:13]]
Y = salary_test[colnames[13]]
#testX  = salary_test[colnames[0:13]]
#testY  = salary_test[colnames[13]]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [11]:
sgnb = GaussianNB()

spred_gnb = sgnb.fit(X_train,y_train).predict(X_test)

In [12]:
confusion_matrix(y_test,spred_gnb)

array([[3268,  166],
       [ 724,  360]])

In [18]:
print ("Accuracy",(3268+360)/(3268+166+724+360))

Accuracy 0.8030101814962373

In [19]:
train_pred_g = sgnb.predict(X_train)
accuracy_train = np.mean(train_pred_g==y_train)
accuracy_train

0.7915955226712199

In [21]:
test_pred_g = sgnb.predict(X_test)
accuracy_test = np.mean(test_pred_g==y_test)
accuracy_test

0.8030101814962373

**Accuracy using Gausian Naive Bayes is 80.30%**

In [22]:
smnb = MultinomialNB()

In [26]:
spred_mnb = smnb.fit(X_train,y_train).predict(X_test)

In [27]:
confusion_matrix(y_test,spred_mnb)

array([[3288,  146],
       [ 851,  233]])

In [28]:
print("Accuracy",(3288+233)/(3288+146+851+233))

Accuracy 0.7793271359008411

In [29]:
train_pred_m = smnb.predict(X_train)
accuracy_train_m = np.mean(train_pred_m==y_train)

In [30]:
accuracy_train_m

0.773098083855056

In [31]:
test_pred_m = smnb.predict(X_test)
accuracy_test_m = np.mean(test_pred_m==y_test)

In [32]:
accuracy_test_m

0.7793271359008411

Accuracy using Multinomial Naive Bayes is 77.93%